{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}Test{% endblock %}

{% block navigation_items %}                <li><a href="/">Produkty</a></li>
                <li class="active"><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Koszyk {% if cart.count() > 0 %} <span class="badge">{{ cart.count() }}</span>{% endif %}</a></li>{% endblock %}
{% block body %}
  <div class="starter-template">
    <h1>Koszyk</h1>
    {% for item in cart %}
    <div class="row">
        <div class="col-md-8">
            <a class="thumbnail"><img src="/images/{{ item.image }}"></a>
        </div>
        <div class="col-md-4">
            Ilość: 1<br>
            Cena: {{ item.price / 100 }} &euro;
        </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
