{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}Test{% endblock %}

{% block navigation_items %}                <li class="active"><a href="/">Produkty</a></li>
                <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Koszyk {% if cart.count() > 0 %} <span class="badge">{{ cart.count() }}</span>{% endif %}</a></li>{% endblock %}

{% block body %}
  <div class="starter-template">
    <h1>Sklep w internecie jakich pełno na świecie</h1>
    <div class="row">
      {% for product in products %}
      <div class="col-md-4">
        <a class="thumbnail" href="/addToCart/{{ product.id }}"><img src="/images/{{ product.image }}"></a>
        {{ product.name }}
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
