<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <style>
        body {
          padding-top: 50px;
        }
        .starter-template {
          padding: 20px 15px 40px;
          text-align: center;
        }

        #login-form {
          text-align: center;
          margin-top: 20px;
        }
        a.thumbnail > img {
          max-height: 200px;
        }
        </style>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Kup Pan coś!</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                {% block navigation_items %}{% endblock %}
                {% if app.session.get('user') %}<li><a href="/logout">Wyloguj</a></li>{% endif %}
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <div class="container">
        {% block loginform %}{% if not app.session.get('user') %}
    <!-- login form -->
    <form class="form-inline" action="/login" method="POST" id="login-form">
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="login" name="login" placeholder="">
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="">
      </div>
      <button type="submit" class="btn btn-default">zaloguj się</button>
    </form>
    <!-- end of login form -->
    {% endif %}{% endblock %}
        {% block body %}{% endblock %}
        </div>
        <script src="/bootstrap/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
